@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Shadows+Into+Light:400|Kalam:300,400,700');

/* {
  box-sizing: border-box;
}*/

.bg-red {
    background-color: #4B1E2E;
    color: #F1F1E6;
}

h2 {
    font-size: 3.5vmin; /* to make the font-size scale depending of screen size https://css-tricks.com/viewport-sized-typography/ */
}

body {
    height: 100%;
    background-color: #022F4F;
    font-family: "Shadows+Into+Light", sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between; /* so burger menu stands on the right side of the screen */
}

#logo {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.attention {
    width: 150px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.banner {
    display: none;
}

/* burger icon inspired from https://mdbootstrap.com/docs/jquery/navigation/hamburger-menu/ */

.fa-bars {
    background-color: #4B1E2E;
    color: #F1F1E6;
    font-size: 40px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.main-container {
    height: 80vh; /* to fix the height of the container so I can center its item */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-box {
    width: 400px;
    height: 400px;
}

@media (min-width: 768px) {
    .banner {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

    button { /* removing burger menu from bigger screens */
        display: none;
    }
}

