@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Shadows+Into+Light:400|Kalam:300,400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
}

body {
    height: 100%;
    font-family: "Kalam", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.headers {
    font-weight: 500;
    padding-top: 5px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/* color theme */

.bg-green {
    background-color: rgb(9, 97, 31);
    color: #F1F1E6!important;
}

.bg-prawn {
    background-color: rgb(250, 250, 250);
    color: rgb(9, 97, 31);
}

.bg-lightgreen {
    background-color: rgb(177, 206, 184);
    color:rgb(9, 97, 31);
}

.green {
    color: rgb(9, 97, 31);
}

.button {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.button:hover {
    background-color:rgb(177, 206, 184);
    color: rgb(9, 97, 31)!important;
}

/* navbar */
.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* logo */

#logo {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#logo img {
    width: 100px;
    height: 100px;
}

/* banner */

#banner {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 0;
    font-size: 4vmin; /* to make the banner font-size scale depending of screen size https://css-tricks.com/viewport-sized-typography/ */
}

#attention {
    display: block;
    margin: 0;
    font-size: inherit;
}

.banner-btn {
    color: inherit;
    cursor: pointer;
    width: 50px;
}

.banner-btn:hover {
    background-color:rgb(177, 206, 184);
    color: rgb(9, 97, 31)!important;
}

/* main container */

.main-container {
    margin-top: 30px;
    min-height: 66.5vh;
}

.center-box {
    border: none;
    margin: 0!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.box-banner {
    text-align: center;
    border-radius: 1rem;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 0 15px;
}

.box-p {
    padding: 0.2em;
}

ul {
    text-align: left;
    padding-left: 2em;
    margin: 0;
    list-style: none;
}

/* game */

#flag {
    height: 12rem;
    width: 20rem;
}
#flag img {
    width: 100%;
    height: 100%;
}

/* footer */

.footer-row {
    padding: 10px;
    margin-top: 15px;
}

.footer-contact {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* css code for social media icon is copied and slightly changed from Resume Mini-Project */
.socialmedia i {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: rgb(9, 97, 31);
    background: rgb(177, 206, 184);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* trick to remove underline on font awesome icon when hover: https://codepen.io/jessicalyschik/pen/MJrwwx */

.socialmedia i:before {
    display: inline-block;
    text-decoration: none;
}

/* media queries */

@media (min-width: 576px) {
    .center-box {
        font-size: 1.5rem;
        line-height: 3rem;
}
    .box-banner {
      font-size: 25px;
}
.main-container {
    margin-top: 160px;
}
.footer-row {
    margin-top: 100px;
}
}

@media (min-width: 768px) {
    .center-box {
       padding-bottom: 15px;
    }

    button {
    margin: 5px;
    }
}