@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Shadows+Into+Light:400|Kalam:300,400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
}

body {
    height: 100%;
    background-color: #022F4F;
    font-family: "Kalam", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.headers {
    font-weight: 500;
    padding-top: 5px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.bg-red {
    background-color: #4B1E2E;
    color: #F1F1E6!important;
}

.bg-lightred {
    background-color: rgb(161, 87, 98);
    color: #022F4F;
}

.bg-darkblue {
    background-color: #022F4F;
    color: #F1F1E6;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between; /* so burger menu stands on the right side of the screen */
}

#logo {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#logo img {
    vertical-align: middle;
}

.attention {
    width: 100px;
    font-size: 1.5rem;
    margin: 0;
}

.banner {
    display: none;
}

/* burger icon inspired from https://mdbootstrap.com/docs/jquery/navigation/hamburger-menu/ */

.fa-bars {
    background-color: #4B1E2E;
    color: #F1F1E6;
    font-size: 40px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.main-container {
    margin-top: 30px;
}

.center-box {
    border: 1px solid #F1F1E6;
    border-radius: 1rem;
    margin: 0!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.box-banner {
    text-align: center;
    border-radius: 1rem;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 0 15px;
}

.box-content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    line-height: 2;
    overflow: auto;
}

.box-p {
    padding: 0.2em;
}

ol {
    text-align: left;
    padding-left: 2em;
    margin: 0;
}

.match {
    margin: 5px;
    padding: 5px;
}

.match:hover {
    background-color: #4B1E2E;
    color: #F1F1E6;
}

/* game */


.modes {
    margin: -6px; /* added a negative margin here to avoid buttons of the banner going over the logo and to keep them on the same row */
    padding: 5px;
    list-style: none;
}

#flag {
    height: 12rem;
    width: 20rem;
}
#flag img {
    width: 100%;
    height: 100%;

/* media queries */

@media (min-width: 576px) {
    .center-box {
        font-size: 1.5rem;
        line-height: 3rem;
}
    .box-banner {
      font-size: 25px;
}
}

@media (min-width: 768px) {
    .banner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 2.5vmin; /* to make the banner font-size scale depending of screen size https://css-tricks.com/viewport-sized-typography/ */
}

    .navbar-toggler { /* removing burger menu from bigger screens */
        display: none;
    }

    .center-box {
       padding-bottom: 15px;
    }
    button {
    margin: 5px;
    }
}

